*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #3b5998;
    line-height: 1.5;
    font-family: 'Gill Sans MT';
    font-size: 18px;
}

a{
    text-decoration: none;
}

h2{
    font-size: 30px;
}

.form{
    background-color: white;    
    padding: 20px;
    border-radius: 30px;
}

.container{
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 15px;
}

label{
    margin-top: 8px;
}

label, input{
    display: block;
}

input{
    width: 100%;
    height: 35px;
}

p, h2{
    text-align: center;
}

#bottom{
    margin-top: 15px;
}

.button:hover{
    background-color: darkgreen;
    color: white;
}

#bottom a{
    color: rgb(48, 43, 43);
}

@media (max-width:768px){
    .container{
        margin-top: 70px;
    }
}